@inject Personalblog.Contrib.SiteMessage.Messages Messages

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="ZY知识库 继承画星星博客，这是一个用于分享知识和经验的平台，我会在这里分享一些我学习和工作中的经验和心得，希望能够对你有所帮助。">
    <meta name="keywords" content="ZY知识库,.net,.NET,.NET Core,C#,python,Python,Java,java web,知识分享,个人博客">
    <title>ZY知识库 · ZY - @ViewData["Title"]</title>
    <link rel="icon" href="~/images/logo2.gif"/>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.bootcdn.net/ajax/libs/bootstrap-icons/1.10.3/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/features.css">
    <link rel="stylesheet" href="~/css/metro.css">
    <link rel="stylesheet" href="~/css/footer.css">
    @* 主样式 *@
    <link rel="stylesheet" href="~/lib/Master.css"/>
    <link href="~/css/nprogress.css" rel="stylesheet"/>
    
    <script src="~/script/global-audio.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/3.2.47/vue.global.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://unpkg.com/nprogress@0.2.0/nprogress.js"></script>
    

    @await RenderSectionAsync("head", false)
</head>
<body>
<header id="vue-header">
    <div class="px-3 py-2 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none"
                   asp-controller="Home" asp-action="Index">
                    <img src="~/images/logo4.jpg" class="round-icon animated-icon" alt="">
                </a>

                <ul class="nav col-12 col-lg-auto pt-1 my-2 justify-content-center my-md-0 text-small">
                    <li>
                        <a class="nav-link text-white" href="@Url.Action("Index", "Home")">
                            <div class="bi d-block mx-auto mb-1 text-center">
                                @*<i class="bi bi-house-door-fill" style="font-size:25px"></i>*@
                                <i class="fa-solid fa-house fa-2xl"></i>
                            </div>
                            Home
                        </a>
                    </li>
                    <li>
                        <a class="nav-link text-white" href="@Url.Action("List", "Blog")">
                            <div class="bi d-block mx-auto mb-1 text-center">
                                <i class="fa-solid fa-table-list fa-2xl"></i>
                            </div>
                            Blog
                        </a>
                    </li>
                    <li>
                        <a class="nav-link text-white" asp-controller="Photo" asp-action="Index">
                            <div class="bi d-block mx-auto mb-1 text-center">
                                <i class="fa-solid fa-images fa-2xl"></i>
                            </div>
                            Photos
                        </a>
                    </li>
                    <li>
                        <a class="nav-link text-white" asp-controller="About" asp-action="Index">
                            <div class="bi d-block mx-auto mb-1 text-center">
                                <i class="fa-solid fa-circle-info fa-2xl"></i>
                            </div>
                            About
                        </a>
                    </li>
                    <li>
                        <a class="nav-link text-white" asp-controller="LinkExchange" asp-action="Add">
                            <div class="bi d-block mx-auto mb-1 text-center">
                                <i class="fa-sharp fa-solid fa-link fa-2xl"></i>
                            </div>
                            Links
                        </a>
                    </li>
                    <li>
                        <a class="nav-link text-white" asp-controller="MsgBoard" asp-action="Index">
                            <div class="bi d-block mx-auto mb-1 text-center">
                                <i class="fa-solid fa-comments fa-2xl"></i>
                            </div>
                            Fprint
                        </a>
                    </li>
                    <li>
                        <a class="nav-link text-white" asp-controller="ArticleArc" asp-action="Index">
                            <div class="bi d-block mx-auto mb-1 text-center">
                                <i class="fa-solid fa-chart-column fa-2xl"></i>
                            </div>
                            STATS
                        </a>
                    </li>
                    <li>
                        <a class="nav-link text-white" asp-controller="Rss" asp-action="Index">
                            <div class="bi d-block mx-auto mb-1 text-center">
                                <i class="fa-solid fa-rss fa-2xl"></i>
                            </div>
                            RSS
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="px-3 py-2 border-bottom mb-3">
        <div class="container d-flex flex-wrap justify-content-center">
            <form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto"
                  asp-controller="Search" asp-action="Blog">
                <input type="search" class="form-control" placeholder="搜索文章..." aria-label="Search" name="keyword">
            </form>

            <div class="text-end">
                <span class="dropdown me-2">
                    <button href="#" class="btn btn-light" id="play-pause-button" role="button">
                        <i class="bi bi-music-note-beamed"></i>
                        音乐
                    </button>
                </span>
                <span class="dropdown me-2">
                    <a href="#" class="btn btn-light" id="dropdown" role="button" onclick="stopp()">
                        <i class="bi bi-arrow-repeat"></i>
                        樱花
                    </a>
                </span>
                <span class="dropdown me-2">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        Themes
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li v-for="theme in themes">
                            <a v-if="theme.name===currentTheme" class="dropdown-item active">{{theme.name}}</a>
                            <a v-else class="dropdown-item" v-on:click="setTheme(theme.name)">{{theme.name}}</a>
                        </li>
                    </ul>
                </span>
                @* todo 登录注册功能后续再来 *@
                @* <button type="button" class="btn btn-light text-dark me-2">Login</button> *@
                @* <button type="button" class="btn btn-primary">Sign-up</button> *@
            </div>
        </div>
    </div>
</header>
<main id="vue-app">
    <div class="container mt-3">
        @while (!Messages.IsEmpty)
        {
            var message = Messages.Dequeue();
            <partial name="Widgets/Alert" model="message"/>
        }
    </div>
    <div id="HomeAlertPlaceholder" class="custom-alert">
    </div>
    @RenderBody()
</main>
<footer class="bg-dark">
    <div id="footer">
        <div class="container">
            <div class="row">
                <div id="footer-content" class="col-md-10 col-md-offset-3 footer-list text-center">
                    <p class="social-icons">
                        <a target="_blank" rel="nofollow" href="https://www.cnblogs.com/ZYPLJ/" style="text-decoration: none;">
                            <i class="fa-solid fa-blog"></i>
                        </a>
                        <a asp-controller="About" asp-action="Index" style="text-decoration: none;">
                            <i class="fab fa-weixin"></i>
                        </a>
                        <a target="_blank" rel="nofollow" href="https://github.com/ZyPLJ" style="text-decoration: none;">
                            <i class="fab fa-github"></i>
                        </a>
                        <a target="_blank" rel="nofollow" href="https://gitee.com/zyplj" style="text-decoration: none;">
                            <i class="bi bi-git"></i>
                        </a>
                    </p>

                    <p>
                        Copyright © @DateTime.Now.Year.ToString()
                        <a href="https://gitee.com/zyplj">ZY</a>. All Rights Reserved.
                    </p>
                    <p>
                        All content is released under
                        <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en" rel="external nofollow" target="_blank">
                            Creative Commons
                            BY-NC-SA 3.0
                        </a>.
                        <br>
                        If articles including programming codes (e.g. Java, Python, C#, Go) are exceptions, which are released under
                        <a href="http://www.gnu.org/licenses/gpl.html"
                           rel="external nofollow" target="_blank">
                            GPL
                            v3
                        </a>.
                    </p>
                    <p>
                        所有內容皆以<a href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en" rel="external nofollow" target="_blank"> 知识共享署名-相同方式共享 4.0 国际许可协议 </a>进行发布。<br>
                        含有程序代码內容的文章 (如 Java, Python, C#, Go) 除外，包含的程序代码皆以 <a href="http://www.gnu.org/licenses/gpl.html" rel="external nofollow" target="_blank">GPL v3</a> 发布。
                    </p>
                    <p>
                        本站使用 <a href="https://github.com/ZyPLJ/personalblog">ZYBlog</a> 开源博客系统，
                        基于 <a href="https://dotnet.microsoft.com/zh-cn/">.NetCore</a> 技术构建
                    </p>
                    <p>
                        <span id="siteRunningTime" style="color:cornsilk">
                            网站运行时间：计算中...
                        </span>
                        &nbsp;&nbsp;
                        <a href="https://beian.miit.gov.cn">湘ICP备2023007264号-1</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="~/lib/Master.js"></script>
<script src="~/lib/site.js"></script>
@await RenderSectionAsync("bottom", false)
</body>
</html>