@using Personalblog.Model.ViewModels;
@using PersonalblogServices.Articels.Dto
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Newtonsoft.Json
@using Personalblog.Model.Entitys
@model PostViewModel

@{
    ViewData["Title"] = $"{Model.Title}";
}

@section head
{
    <link href="https://cdn.bootcdn.net/ajax/libs/highlight.js/11.7.0/styles/base16/papercolor-light.min.css" rel="stylesheet">
    <link href="https://cdn.bootcdn.net/ajax/libs/quill/1.3.7/quill.snow.min.css" rel="stylesheet">
    <link href="https://cdn.bootcdn.net/ajax/libs/quill/1.3.7/quill.bubble.min.css" rel="stylesheet">
}

<style>
img{
max-width:100%; height:auto;
}
    .Postbtn{
        position:fixed;
        bottom:15%;
        right:10%;
    }
    .Topup{
        color:#000000;
        font-size:18px
    }
    .feedback_area_title{
        font: normal normal 16px/35px "Microsoft YaHei";
        margin: 10px 0 30px;
    }
    .feedback_area_title:after {
        left: 80px;
        content: '';
        display: block;
        width: 100%;
        text-align: center;
        position: relative;
        bottom: 16px;
        border-bottom: 1px dashed #e9e9e9;
    }
    #editor{
        height: 250px;
    }
    .comment_input input{
        border: none;
        width: 260px;;
    }
    .comment_input input:focus {
        outline: none;
        border: none;
    }
    .comment_input input::placeholder {
        font-size: 13px;
        color: #999;
    }
    .comment_input span{
        color: #e4dddb;
    }
    .comment_btn{
        margin-top: 20px;
    }
    .comment_btn input{
        border-radius: 3px;
        height: 32px;
        padding: 0 15px;
        border: none;
        background: #409eff;
        color: #fff;
        font-size: 14px;
    }
    
    
    .feedbackItem{
        margin-bottom:20px;
    }
    .feedbackItem:before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 90px;
        display: block;
        z-index: 0;
        content: "";
        background-color: #e1e4e8;
    }
    .feedbackListSubtitle {
        clear: both;
        align-items: center;
        color: #586069;
        flex-direction: row-reverse;
        background-color: #f6f8fa;
        border: 1px solid #e9e9e9;
        border-bottom: 1px solid #e9e9e9;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding: 10px 20px;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .feedbackListSubtitle span{
        color: #777;
        font-weight: 700;
    }
    .feedbackCon {
        padding: 10px 20px;
        min-height: 35px;
        line-height: 1.5;
        border: 1px solid #e9e9e9;
        border-top: 0;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        background: #fff;
    }
    .feedbackManage {
        width: 200px;
        text-align: right;
        float: right;
    }
    .comment_actions_link{
        color: #777;
        font-weight: 700;
        text-decoration: none;
    }
    .comment_actions:hover .comment_actions_link{
        cursor: pointer;
        color:red;
    }
    
    .feedbackListSubtitle-louzhu {
        background-color: #f1f8ff!important;
        border-bottom-color: #c0d3eb!important;
    }
    
.post-content {
  position: relative;
}

.hljs {
  font-family: "Courier New", sans-serif;
  font-size: 12px;
}

code {
  border: 0;
  padding: 2px 4px;
  color: #D83B64;
  display: inline;
  background-color: #f9f2f4;
  border-radius: 3px;
  position: relative;
  bottom: 1px;
}

.code-block {
  position: relative;
  margin-bottom: 1.5rem;
}

.code-block pre code.hljs {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 1rem;
  background: rgb(245, 245, 250);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;
  box-shadow: none; 
}

.copy-btn {
  position: absolute;
  top: 28px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  opacity: 0;
  transition: opacity 1s;
}

.copy-btn i {
  font-size: 1rem;
  color: #333;
}

.code-block:hover .copy-btn {
  opacity: 1;
}

pre {
  padding: 5px;
  white-space: pre;
  margin: 0;
  border: 0!important;
  word-break: break-all;
  word-wrap: break-word;
  counter-reset: itemcounter;
}

pre code.hljs {
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 11px -2px rgb(37 44 97 / 15%), 0 1px 3px 0 rgb(93 100 148 / 6%);
}

.language-label {
  display: inline-block;
  font-size: 0.8em;
  background-color: transparent;
  color: #999;
  padding: 2px 6px;
  border-radius: 3px;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
}

.zy-knowledge {
  background-color: rgb(245, 245, 250);
  padding: 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  font-family: "Comic Sans MS", cursive, sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.zy-knowledge > .language-label {
  margin-left: 10px;
  opacity: 1;
}
/*::selection {*/
/*  background-color: transparent !important;*/
/*}*/

/*::-moz-selection {*/
/*  background-color: transparent !important;*/
/*}*/
/* 设置用户选中文本的背景颜色 */
/* 设置复制时选中文本的背景颜色 */
.hljs::selection,
.hljs span::selection {
  background-color: #c7e7ff;
}

.hljs::-moz-selection,
.hljs span::-moz-selection{
  background-color: #c7e7ff;
}

table{
    box-sizing: border-box;
    width: 100%!important;
    background-color: #fff;
    border: 1px solid #dfe3ec;
    font-size: 14px;
    color: #222;
    margin: 0 0 10px;
    padding: 0;
    border-right: 0;
    border-bottom: 0;
    display: table!important;
    border-spacing: 0;
    text-align: center;
}
th{
    text-align: center;
    border-bottom: 1px solid #dfe3ec;
    border-right: 1px solid #dfe3ec;
    background-color: #eef0f6;
    text-align: left;
    overflow: hidden;
    padding: 0 18px;
    min-width: 100px;
}
th,td{
    height: 40px;
    box-sizing: border-box;
    background-clip: padding-box;
    display: table-cell;
    position: relative;
    text-overflow: ellipsis;
    vertical-align: middle;
}
td{
    border-bottom: 1px solid #dfe6ec;
    border-right: 1px solid #dfe3ec;
    min-width: 0;
    background-color: #fff;
    padding: 0 20px;
    border-collapse: collapse;
    text-align: center;
}
</style>

@await Html.PartialAsync("Widgets/BackToTop", new BackToTopViewModel {IsShowText = false})


<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div id="sidebar" class="p-3 sticky-lg-top">
                @* <h5>Table of Contents</h5> *@
                <div class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                    <span class="bi me-2">
                        <i class="fa-solid fa-rectangle-list fa-2x"></i>
                    </span>
                    <span class="fs-5 fw-semibold">文章目录</span>
                </div>

                <div id="post-toc-container" style="z-index:0">
                </div>
            </div>
        </div>
        <div class="col-lg-9" id="goTop">
            <header class="post-header py-3 mb-3">
                <div class="post-title h3 font-weight-bold">@Model.Title</div>
                <div class="border-bottom my-3"></div>
                <div class="post-meta">
                    <div class="d-flex justify-content-between">
                        <div>
                            发布：
                            <span>@Model.CreationTime.ToShortDateString()</span>
                            <span>@Model.CreationTime.ToString("hh:mm")</span>
                        </div>
                        <div>
                            更新：
                            @Model.LastUpdateTime.ToShortDateString()
                            @Model.LastUpdateTime.ToString("hh:mm")
                        </div>
                    </div>
                   <div class="d-flex justify-content-between align-items-center">
                       <div class="d-flex align-items-center">
                           阅读：
                           @Model.ViewCount
                           <i class="bi bi-person-plus ms-1"></i>
                       </div>
                       <div>字数：@Model.Content.Length.ToString()</div>
                   </div>
                    <div class="d-flex justify-content-between">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item active">博客</li>
                                <li class="breadcrumb-item">
                                    <a asp-controller="Blog" asp-action="List"
                                       asp-route-categoryId="@Model.Category.Id">
                                        @Model.Category.Name
                                    </a>
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </header>
           <div class="post-content">
               @Html.Raw(Model.ContentHtml)
           </div>
            <div class="my-3 text-center">
                <span style="font-size: 1.5em; color: #bababa">_EOF_</span>
            </div>
            <div class="card my-3">
                <div class="row g-0">
                    <div class="col-md-2">
                        <img src="~/images/5192045913af4a31a7988ed7077a1e0.jpg" class="img-fluid rounded-start" width="200" alt="">
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                            <h5 class="card-title">@Model.Title</h5>
                            <div class="card-text">
                                <b>本文作者：</b> ZY 盼盼的老父亲
                            </div>
                            <div class="card-text">
                                <b>本文链接：</b>
                                <a href="@Model.Url">@Model.Url</a>
                            </div>
                            <div class="card-text">
                                <b>版权声明：</b>
                                本博客所有文章除特别声明外，均采用 <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/">BY-NC-SA</a> 许可协议。转载请注明出处！
                            </div>
                            <div class="card-text">
                                <b>关于博主：</b> 欢迎扫码加好友，交流技术 & 分享经验！
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="my-3">
                <span class="text-muted">
                    微信号：「ZY 盼盼的老父亲」 专注于互联网热门新技术探索与开发实践，包括架构设计、机器学习与数据分析算法、移动端开发、Linux~ 我都不会，欢迎一起探讨技术，分享学习实践经验。
                </span>
            </div>
            
            @if (Model.ConfigItem.IsShowComment)
            {
                <div class="my-3" id = "CommentList">
                <div class="feedback_area_title">
                    评论列表
                </div>
                @if (Model.CommentsList.Any())
                {
                    @foreach (var comment in Model.CommentsList)
                    {
                        if (comment.ParentCommentId == 0)
                        {
                            <div class="col flip-container">
                                <partial name="Widgets/PostComments" model="comment" />
                            </div>
                        }
                        else
                        {
                            <div class="col  flip-container">
                                <partial name="Widgets/PostCommentstwo" model="comment" />
                            </div>
                        }
                    }
                }
            </div>
            
            <div class="my-3">
                <form>
                    <div class="feedback_area_title" id="reply">
                        发表评论
                    </div>
                    <div id="liveAlertPlaceholder"></div>
                    <div class="comment_input">
                        <input type="text" placeholder="请输入昵称..." name="Name" id="Name"/>
                        <span>|</span>
                        <input type="email" placeholder="请输入邮箱..." name="Email" id="Email"/>
                        <span>|</span>
                    </div>
                    <div id="editor">
                    </div>
                    <div class="hidden" hidden="hidden">
                        <textarea id="Content" name="Content"></textarea>
                        <input type="text" id="PostId" name="PostId" value="@Model.Url.Split('/').Last().Split('.').First()"/>
                        <input type="text" name="ParentCommentId" id="ParentCommentId"/>
                    </div>
                    <div class="comment_btn">
                        <input type="button" value="发表评论" id="btnComent"/>
                    </div>
                </form>
            </div>
            }
        </div>
    </div>
</div>
@section bottom
{
    <script src="~/js/bootstrap-treeview.js"></script>
    <script src="~/js/blog.post.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js"></script>
    <!-- 引入 clipboard.js 核心文件 -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/quill/1.3.7/quill.min.js"></script>
    <script>
           const nodes = '@Html.Raw(Model.TocNodesJson)'
           console.log(JSON.parse(nodes))
           initTreeView(nodes);
    </script>
    <script>
      // hljs.configure({
      //   theme: 'github'
      // });
    </script>

    <script>
  (function() {
    document.addEventListener("DOMContentLoaded", function() {
      // 遍历所有 Markdown 代码块
      const codeBlocks = document.querySelectorAll('.post-content pre code');
      codeBlocks.forEach((codeBlock, index) => {
        const code = codeBlock.textContent.replace(/`/g, '&#96;');
        const lang = codeBlock.getAttribute('class');
        const langName = lang ? lang.replace('language-', '') : 'unknown'; // 提取语言名称
        const highlightedCode = hljs.highlightAuto(code, [lang]).value;
  
      
    // 生成可复制的代码块
    const langLabelHtml = `<span class="language-label">${langName}</span>`;
    const codeBlockHtml = `<pre><div class="zy-knowledge">  知 识 库${langLabelHtml}</div><code class="hljs ${lang}">${highlightedCode}</code></pre>`;
    const copyBtnHtml = `<button class="copy-btn" data-clipboard-target="#code-block-${index}"><i class="fa fa-copy"></i></button>`;
    const codeBlockWrapper = `<div class="code-block" id="code-block-${index}">${codeBlockHtml}${copyBtnHtml}</div>`;
    
    // 替换 Markdown 代码块
    codeBlock.parentElement.insertAdjacentHTML('beforebegin', codeBlockWrapper);
    codeBlock.parentElement.remove();

     // 初始化 clipboard.js
     const clipboard = new ClipboardJS('.copy-btn');
          // 添加复制按钮的点击事件监听器
          clipboard.on('success', function(e) {
            const icon = e.trigger.querySelector('i');
            icon.classList.remove('fa-copy');
            icon.classList.add('fa-check');
            // 1秒钟后将图标变回原来的图标
            setTimeout(function() {
              icon.classList.remove('fa-check');
              icon.classList.add('fa-copy');
            }, 1000);
          });
      });
  
      // 使用 hljs.highlightBlock() 方法对所有代码块进行语法高亮
      // const preCodeBlocks = document.querySelectorAll('pre code');
      // preCodeBlocks.forEach((block) => {
      //   hljs.highlightBlock(block);
      // });
      hljs.initHighlightingOnLoad();
    });
  })();
</script>
    <script>   
          var content = document.getElementById("Content")
          var toolbarOptions = [
            ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
          ];
        var quill = new Quill('#editor', {
          modules: {
            toolbar: toolbarOptions
          },
          theme: 'snow',
        });
          quill.on('editor-change', function(eventName, ...args) {
            var text = quill.getContents();
            console.log(text)
            if (eventName === 'text-change') {
                content.value = JSON.stringify(text.ops)
            } else if (eventName === 'selection-change') {
                content.value = JSON.stringify(text.ops)
            }
          });
          function Reply(Id,Name){
              console.log(Id, Name)
              var ParentCommentId = document.getElementById("ParentCommentId");
              ParentCommentId.value = Id;
              quill.setContents([{ insert: `回复给：${Name}`, attributes: { bold: true } }]);
          }
          const alertPlaceholder = document.getElementById('liveAlertPlaceholder')
          const alert = (message, type) => {
            const wrapper = document.createElement('div')
            wrapper.innerHTML = [
              `<div class="alert alert-${type} alert-dismissible" role="alert">`,
              `<div>${message}</div>`,
              ` <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>`,
              '</div>'
            ].join('')
              alertPlaceholder.append(wrapper)
          }
          
          var timerId;
          
          function deleteAlert(){
              while (alertPlaceholder.firstChild) {
                alertPlaceholder.removeChild(alertPlaceholder.firstChild);
              }
          }
          
          function execute() {
            // 在设置新的定时器之前，清除上一个定时器
            clearTimeout(timerId);
            timerId = setTimeout(deleteAlert, 5000);
          }
          
            function clearInput(){
                $('#ParentCommentId').val("")
                $('#Name').val("")
                $('#Email').val("")
                $('#Content').val("")
                // 清空文本框的内容
                quill.setText('');
            }
          
          $('#btnComent').click(function (){
             var PostId= $('#PostId').val()
             var ParentCommentId=$('#ParentCommentId').val()
             if(ParentCommentId == ""){ParentCommentId = 0 }
             var Name=$('#Name').val()
             var Email=$('#Email').val()
             var Content=content.value
             $.ajax({
                url:'/Blog/SubComment',
                type:'post',
                data: JSON.stringify(
                    {
                        "PostId": "" + PostId + "",
                        "ParentCommentId": ParentCommentId ,
                        "Name": "" + Name + "",
                        "Email": "" + Email + "",
                        "Content":"" + Content + ""
                    }
                ),
                contentType: 'application/json',
                success:function (data){
                    if (data.statusCode === 200){
                        alert(data.message, 'success')
                        const CommentList = document.getElementById('CommentList')
                        const html = data.data
                        CommentList.insertAdjacentHTML('beforeend', html);
                        clearInput()
                    }else{
                        alert(data.data, 'danger')
                    }
                },
                error:function (xhr,status,error){
                    if (xhr.status === 429){
                        alert("请求过于频繁，请稍后再试。",'warning')
                    }else if (xhr.status === 422){
                        alert(xhr.responseJSON.message,'warning')
                     }
                    else{
                        alert("服务器异常，请稍后再试！！！",'danger')
                    }
                }
              })
             execute()
          })
    </script>
}
